<!-- views/pages/articles.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Articles</h1>
        <p>This is the page for articles</p>
        <div id="articles"></div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
<script>
    // Calls the function loadArticles
    $(document).ready(function() {
        loadArticles();
    });

    // call to node server
    function loadArticles() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("articles").innerHTML = this.responseText;
        }
      };
      xhttp.open("GET", "/article", true);
      xhttp.send();
    }
</script>
</body>
</html>