<!-- views/pages/articles.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/articles.js"></script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Articles</h1>
<div id="articles"></div>
    </div>



</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
