<!-- Filename: jobPostings.ejs
     Displays all job postings -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/jobpostings.js"></script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
  <div class="jumbotron">
      <h1>Job Postings</h1>
        <div id="jobpostings"></div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
