<!-- Filename: aboutDisplay.ejs
     Description: File containing repeatable form for individual jobs.
     It loops through all jobs in jobPostingsArray and displays all the data
     from the table on the jobPostings.ejs page. -->

<% aboutArray.forEach(function(about){ %>
    <div class="row">
        <div class="col-sm9">
            <h2>Name: <%= about.name %></h2>
            <p>Bio: <%= about.bio %></p>
        </div>
    <div class="col-sm-3">
        <img src="<%= about.image %>" width="175" height="175">
    </div>
    </div>
    <br />
<% }) %>