<!-- blogDisplay.ejs
     File containing repeatable form for individual blogs -->
<% blogArray.forEach(function(blog){ %>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
            <h2>Title: <%= blog.title %></h2>
            <h3>Author: <%= blog.author %></h3>
            <p><%= blog.content %></p>
            <p><%= blog.date %></p>
            </div>
            <div class="col-sm-4">
                    <img src="test.png" width="175" height="175">
            </div>
        </div>
    </div>
<% }) %>

<br><br>